# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Site Configuration
NEXT_PUBLIC_SITE_URL=
NEXT_PUBLIC_SITE_NAME=

# Admin Configuration
ADMIN_SECRET_KEY=

# Contact
CONTACT_EMAIL=
CONTACT_PHONE=

EMAIL_USER=
EMAIL_APP_PASSWORD=

CRON_SECRET=

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=


# API Keys for AI Chatbot
GROQ_API_KEY=
