-- ==========================================
-- AI Chatbot Prototype Database Schema
-- ==========================================

-- 1. chatbot_settings (การตั้งค่าบอทหลัก)
CREATE TABLE IF NOT EXISTS public.chatbot_settings (
    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
    bot_name TEXT NOT NULL DEFAULT 'VELOZI Bot',
    welcome_message TEXT NOT NULL DEFAULT 'สวัสดีครับ มีอะไรให้ผมช่วยเหลือไหมครับ?',
    system_prompt TEXT NOT NULL DEFAULT 'You are a helpful assistant for VELOZI | Dev.',
    is_active BOOLEAN NOT NULL DEFAULT true,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL
);

-- Ensure only one row exists for global settings
CREATE UNIQUE INDEX IF NOT EXISTS chatbot_settings_single_row_idx ON public.chatbot_settings ((1));

ALTER TABLE public.chatbot_settings ENABLE ROW LEVEL SECURITY;

-- Policy: Only superadmins can manage settings
CREATE POLICY "Superadmins can manage chatbot settings"
    ON public.chatbot_settings
    FOR ALL
    TO authenticated
    USING ( (auth.jwt() -> 'user_metadata' ->> 'role') = 'superadmin' )
    WITH CHECK ( (auth.jwt() -> 'user_metadata' ->> 'role') = 'superadmin' );

-- Policy: Public can read active settings (like bot name, welcome msg, status)
CREATE POLICY "Public can read chatbot settings"
    ON public.chatbot_settings
    FOR SELECT
    TO public
    USING (true);


-- 2. chatbot_faqs (ฐานข้อมูล Q&A / Knowledge Base)
CREATE TABLE IF NOT EXISTS public.chatbot_faqs (
    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
    question TEXT NOT NULL,
    answer TEXT NOT NULL,
    keywords TEXT[], -- Array of keywords for better search/filtering
    is_active BOOLEAN NOT NULL DEFAULT true,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL
);

ALTER TABLE public.chatbot_faqs ENABLE ROW LEVEL SECURITY;

-- Policy: Admins (superadmin & moderator) can manage FAQs
CREATE POLICY "Admins can manage chatbot FAQs"
    ON public.chatbot_faqs
    FOR ALL
    TO authenticated
    USING (
        (auth.jwt() -> 'user_metadata' ->> 'role') = 'superadmin' OR
        (auth.jwt() -> 'user_metadata' ->> 'role') = 'moderator'
    )
    WITH CHECK (
        (auth.jwt() -> 'user_metadata' ->> 'role') = 'superadmin' OR
        (auth.jwt() -> 'user_metadata' ->> 'role') = 'moderator'
    );

-- Policy: Note - Public doesn't need direct read access if API handles the search via Service Role


-- 3. chat_sessions (ข้อมูลผู้ติดต่อและ Session)
CREATE TABLE IF NOT EXISTS public.chat_sessions (
    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
    customer_name TEXT NOT NULL,
    customer_email TEXT NOT NULL,
    status TEXT NOT NULL DEFAULT 'active', -- active, closed
    created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL
);

ALTER TABLE public.chat_sessions ENABLE ROW LEVEL SECURITY;

-- Policy: Public can insert new sessions
CREATE POLICY "Public can create chat sessions"
    ON public.chat_sessions
    FOR INSERT
    TO public
    WITH CHECK (true);

-- Policy: Public can read their own session if they have the ID (managed via API/LocalStorage usually, but allowing select by ID for now)
CREATE POLICY "Public can read their session"
    ON public.chat_sessions
    FOR SELECT
    TO public
    USING (true);

-- Policy: Admins can view and manage all sessions
CREATE POLICY "Admins can manage chat sessions"
    ON public.chat_sessions
    FOR ALL
    TO authenticated
    USING (
        (auth.jwt() -> 'user_metadata' ->> 'role') = 'superadmin' OR
        (auth.jwt() -> 'user_metadata' ->> 'role') = 'moderator'
    )
    WITH CHECK (
        (auth.jwt() -> 'user_metadata' ->> 'role') = 'superadmin' OR
        (auth.jwt() -> 'user_metadata' ->> 'role') = 'moderator'
    );


-- 4. chat_messages (ประวัติการสนทนา)
CREATE TABLE IF NOT EXISTS public.chat_messages (
    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
    session_id UUID NOT NULL REFERENCES public.chat_sessions(id) ON DELETE CASCADE,
    sender TEXT NOT NULL, -- 'user', 'ai', or 'admin' 
    content TEXT NOT NULL,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL
);

-- Index for faster message retrieval by session
CREATE INDEX IF NOT EXISTS chat_messages_session_id_idx ON public.chat_messages(session_id);

ALTER TABLE public.chat_messages ENABLE ROW LEVEL SECURITY;

-- Policy: Public can insert messages (their own messages)
CREATE POLICY "Public can insert chat messages"
    ON public.chat_messages
    FOR INSERT
    TO public
    WITH CHECK (true);

-- Policy: Public can read messages for a session (assuming they know the session_id)
CREATE POLICY "Public can read messages"
    ON public.chat_messages
    FOR SELECT
    TO public
    USING (true);

-- Policy: Admins can view and manage all messages
CREATE POLICY "Admins can manage chat messages"
    ON public.chat_messages
    FOR ALL
    TO authenticated
    USING (
        (auth.jwt() -> 'user_metadata' ->> 'role') = 'superadmin' OR
        (auth.jwt() -> 'user_metadata' ->> 'role') = 'moderator'
    )
    WITH CHECK (
        (auth.jwt() -> 'user_metadata' ->> 'role') = 'superadmin' OR
        (auth.jwt() -> 'user_metadata' ->> 'role') = 'moderator'
    );

-- Insert Default Settings (If empty)
